#chat-screen {
    background-color: var(--purple);
    height: 1000vh;
}
#chat-screen .alt-header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0px;
    background-color: inherit;
}

.main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.chat__timestamp {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 10px;
}
.message-row__author {
    display: block;
    margin-bottom: 8px;
}
.message-row__info{
    display: flex;
    align-items: flex-end;
}
.message-row__bubble {
    background-color: white;
    padding: 13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
    font-size: 18px;
}
.message-row__author,
.message-row__time {
    opacity: 0.8;
    font-size: 14px;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message-row__bubble {
    background-color: #FEE500;
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px;
}

.message-row--own .message-row__info {
    flex-direction: row-reverse;
}