.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 450;
}

.welcome-header__title i {
    margin: 0px 5px;
}

.welcome-header__text {
    width: 60%;
    opacity: 0.6;
}

#login-form {
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
}

#login-form input {
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 20px;
}

#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4)
}

#login-form input:focus {
    border-color: var(--green);
}

#login-form input[type="submit"] {
    border-radius: 5px;
    background-color: var(--green);
    cursor: pointer;
    padding: 20px 0px;
    font-weight: 500;
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}


@keyframes pawshake-left {
    0% {
        transform: rotateZ(0);
    }
    20% {
        transform: rotateZ(-15deg);
    }
    50% {
        transform: rotateZ(0);
    }
    60% {
        transform: rotateZ(-5deg);
    }
    75% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(0);
    }
}

.welcome-header__title i:first-child {
    animation: pawshake-left 1s ease-in infinite;
}

@keyframes pawshake-right {
    0% {
        transform: rotateZ(0);
    }
    20% {
        transform: rotateZ(15deg);
    }
    50% {
        transform: rotateZ(0);
    }
    60% {
        transform: rotateZ(8deg);
    }
    75% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(0);
    }
}
.welcome-header__title i:last-child {
    animation: pawshake-right 1s ease-in infinite;
}

.welcome-header__title i:last-child {
    animation-delay: 0.1s;
}