.nav {
    background-color: #F9F9FA;
    padding: 20px 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: #30373E;
    position: relative;
}

.nav__notification {
    position: absolute;
    left: 20px;
    bottom: 15px;
}

.nav__notidot {
    position: absolute;
    left: 35px;
    bottom: 25px;
}

.nav__icon {
    width: 36px;
    height: 36px;
}