#no-mobile {
    position: absolute;
    top: 0;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--brown);
    font-size: 32px;
}

@media screen and (max-width:645px) {
    #no-mobile {
        display: none;
    }
}

#no-mobile img {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}