body {
    background-color: white;
}
.status-bar {
    background-color: inherit;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}

.status-bar__column {
    width: 33%;
}

.status-bar__column:first-child span {
    margin-right: 5px;
}

.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
    font-size: 15.5px;
    font-weight: bold;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column:last-child span {
    font-size: 15px;
}

.status-bar__column .fa-battery-half {
    margin: 3px 0px 0px 5px;
}