.user-component {
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component__title {
    font-size: 23px;
    font-weight: 600;
}

.user-component__subtitle {
    margin-top: 8px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.user-component__subtitle i {
    color: red;
    margin-left: 5px;
    font-size: 15px;
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-screen .user-component__column:last-child {
    color: black;
}

.user-components__time {
    margin-bottom: 10px;
    display: block;
}