:root {
    --Hyellow: #F0F1B3;
    --Hgreen: #D1EAA3;
    --Hpurple: #DBC6EB;
    --Hblue: #ABC2E8;
    --gray: rgba(0, 0, 0, 0.5);
    --green: #127c56;
    --brown: #3D262A;
    --horizontal-space: 25px;
    --main-border: 1px solid rgba(0, 0, 0, 0.3);
}